@charset "UTF-8";

.hover-white a:hover{
  background-color: #ffffff;
  color: #000;
}

body{
  font-family: serif;
  color: #fff;
  background-color: #000;
}

.fade_off {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

.fade_off2 {
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  -ms-transition: all 2s;
  transition: all 2s;
}

.fade_off3 {   
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -o-transition: all 3s;
  -ms-transition: all 3s;
  transition: all 3s;
}

.fade_off, .fade_off2, .fade_off3{
  opacity: 0;
  margin-top: 70px;
}

.fade_off-l {   
  opacity: 0;
  margin-left: 70px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

.fade_off-r {   
  opacity: 0;
  margin-right: 70px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

.fade_on {
  opacity: 1;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}  

/* ====== 共通 ====== */
.text-black{
  color: #000;
}

.border-white{
  border-color: white;
}

.bg-black{
  background-color: black;
}

a:hover {
    text-decoration: none;
    opacity: 0.8;
}
header .navbar-brand {
  width: 8%; 
  margin-left: 2rem;
  margin-right: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
  header .navbar-brand .logo {
    width: 100%; }
header .tel {
  font-size: 2rem;
  color: #fff; }
  header .tel a {
    color: #fff; }

/* ====== TOTOP ====== */
/* ページトップ */
#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 80%;
  z-index: 1; }

#page-top a {
  background: white;
  text-decoration: none;
  border: 0.1px solid #000;
  color: black;
  width: 100px;
  padding: 25px 0;
  text-align: center;
  display: block;
  border-radius: 10px;
}

#page-top a:hover {
  text-decoration: none;
  background: #999; }

.btn-outline-secondary:hover {
    color: #6c757d;
}

.nav-item a{
  color: white;
}

.navbar-toggler-icon i{
  color: white;
  font-size: 2rem;
}

/* ====== TOP IMAGE ====== */

header.top-page {
  height: 100vh;
  overflow: hidden;
  padding-right: 0;
  padding-left: 0; 
}

.swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-wrapper {
  position: absolute; /* ← swiper.cssと優先順位が干渉するときは工夫してください */
  top: 0;
  left: 0;
}

.swiper-wrapper img {
    width: 100%;
    height: auto;
}

.swiper-title {
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding: 2rem;
  z-index: 1;
  text-align: center;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  width: 70%;
}

.swiper-title h1{
  color: white;
  font-weight: 900;
  font-size: 3rem;
}

.swiper-title h5{
  color: white;
  font-size: 1.5rem;
}

/* ====== TOPPAGE SECTION ====== */

#sec1 .card:nth-of-type(2) {
  border-left: none;
  border-right: none; }

.ttl-bdr {
    font-size: 3rem;
  line-height: 1.5;
  position: relative;
margin-bottom: 50px;
}

.ttl-bdr::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 5px solid #000;
  width: 12%;
  margin: 0 auto -15px; }

#sec3 {
  background-image: url("../img/bg-staff.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

#sec4 table {
  width: 100%;
  cellspacing: 0;
  bgcolor: #CCC;
  font: 12px;
  color: #666;
  table-layout: fixed;
  border-collapse: collapse; }
  #sec4 table th, #sec4 table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc; }
  #sec4 table th {
    background-color: #002795;
    color: #fff; }
  #sec4 table td {
    width: 14.2%; }
    #sec4 table td:nth-child(7n) {
      background-color: #5197E0;
      color: #fff; }
    #sec4 table td:nth-child(7n+1) {
      background-color: #FF8A8C;
      color: #fff; }

/* ====== SNS ====== */
.social img {
  width: 36px;
  height: 36px; }

/* ====== SNS ====== */

iframe {
    width: 100%;
    height: 450px;
}

/* ====== FOOTER ====== */
footer{
  background-image: url(../img/footer-image.png);
}

.footer-logo {
  width: 50%;
}


/* =============================================
メディアクエリ
============================================= */

/* 大デバイス（デスクトップ, 1200px 未満）
==============================================*/
@media screen and (max-width: 1199.98px) {
  .herounit h1 {
    margin-top: 10rem; } }
/* END */
/* 中デバイス（タブレット, 992px 未満）
==============================================*/
@media screen and (max-width: 991.98px) {
  .container {
    max-width: 740px; } 
  .sec5title{
    margin-top: 2rem;
  }
}
/* END */
/* 小デバイス（横向きモバイル, 768px 未満）
==============================================*/
@media screen and (max-width: 768px) {
  h1 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
  }

  #sec3 {
    background-image: none;
  }

  header .navbar-brand {
    width: 20%;
    margin-left: 0.5rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  header .navbar-brand .logo {
      width: 100%;
  }
  header .navbar-nav {
    border-top: 1px solid #fff;
  }

  .footer-logo {
  width: 100%;
  }

  .swiper-title{
    width: 70%;
  }

  .swiper-wrapper img {
    width: auto;
    height: 100%;
}

}
/* END */
/* 極小デバイス（縦向きモバイル, 576px 未満）
==============================================*/
@media screen and (max-width: 575.98px) {
  .display-3 {
    line-height: 0.8em;
  }

  .display-4 {
    font-size: 2rem;
    line-height: 1.2;
  }
  
  .swiper-title{
    width: 82%;
  }
}
/* END */



