@charset "UTF-8";

.hover-white a:hover{
  background-color: #ffffff;
  color: #000;
}

body{
  font-family: serif;
  color: #fff;
  background-color: #000;
}

.fade_off {   
  opacity: 0;
  margin-top: 70px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

.fade_off-l {   
  opacity: 0;
  margin-left: 70px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

.fade_off-r {   
  opacity: 0;
  margin-right: 70px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}

.fade_on {
  opacity: 1;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}  

/* ====== 共通 ====== */
.text-black{
  color: #000;
}

.bg-black{
  background-color: black;
}

a:hover {
    text-decoration: none;
    opacity: 0.8;
}
header .navbar-brand {
  width: 20%; }
  header .navbar-brand .logo {
    width: 100%; }
header .tel {
  font-size: 2rem;
  color: #fff; }
  header .tel a {
    color: #fff; }

/* ====== TOTOP ====== */
/* ページトップ */
#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 80%; }

#page-top a {
  background: #666;
  text-decoration: none;
  color: #fff;
  width: 100px;
  padding: 25px 0;
  text-align: center;
  display: block;
  border-radius: 10px; }

#page-top a:hover {
  text-decoration: none;
  background: #999; }

.btn-outline-secondary:hover {
    color: #6c757d;
}

.nav-item a{
  color: white;
}

/* ====== TOP IMAGE ====== */

header.top-page {
  height: 100vh;
  overflow: hidden;
  padding-right: 0;
  padding-left: 0; 
}

.swiper-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-title {
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  z-index: 1;
  text-align: center;
  display: none;
}

.swiper-title h1,h5{
  color: black;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* ====== TOPPAGE SECTION ====== */

#sec1 .card:nth-of-type(2) {
  border-left: none;
  border-right: none; }

.ttl-bdr {
    font-size: 3rem;
  line-height: 1.5;
  position: relative;
margin-bottom: 50px;
}

.ttl-bdr::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 5px solid #000;
  width: 12%;
  margin: 0 auto -15px; }

#sec3 {
  background-image: url("../img/bg-staff.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

#sec4 table {
  width: 100%;
  cellspacing: 0;
  bgcolor: #CCC;
  font: 12px;
  color: #666;
  table-layout: fixed;
  border-collapse: collapse; }
  #sec4 table th, #sec4 table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc; }
  #sec4 table th {
    background-color: #002795;
    color: #fff; }
  #sec4 table td {
    width: 14.2%; }
    #sec4 table td:nth-child(7n) {
      background-color: #5197E0;
      color: #fff; }
    #sec4 table td:nth-child(7n+1) {
      background-color: #FF8A8C;
      color: #fff; }

/* ====== SNS ====== */
.social img {
  width: 36px;
  height: 36px; }

/* ====== SNS ====== */

iframe {
    width: 100%;
    height: 450px;
}

/* ====== FOOTER ====== */
.footer-logo {
  width: 50%;
}

/* =============================================
メディアクエリ
============================================= */

/* 大デバイス（デスクトップ, 1200px 未満）
==============================================*/
@media screen and (max-width: 1199.98px) {
  .herounit h1 {
    margin-top: 10rem; } }
/* END */
/* 中デバイス（タブレット, 992px 未満）
==============================================*/
@media screen and (max-width: 991.98px) {
  .container {
    max-width: 740px; } }
/* END */
/* 小デバイス（横向きモバイル, 768px 未満）
==============================================*/
@media screen and (max-width: 767.98px) {
  h1 {
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2; }

  #sec3 {
    background-image: none; }

  header .navbar-brand {
    width: 70%; }
    header .navbar-brand .logo {
      width: 100%; }
  header .navbar-nav {
    border-top: 1px solid #fff; }
    .footer-logo {
  width: 100%;
}

}
/* END */
/* 極小デバイス（縦向きモバイル, 576px 未満）
==============================================*/
@media screen and (max-width: 575.98px) {
  .display-3 {
    line-height: 0.8em; }

  .display-4 {
    font-size: 2rem;
    line-height: 1.2; } }
/* END */



